{% extends "global.html" %}

{% block imports %}
    <title>Contact - {{ contact.first_name }}</title>
    <link href="/static/css/profile.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="top-bar">
        <div class="top-bar-panel center-block">
            <h5 class="top-bar-text"><strong>CONTACT</strong></h5>
            <span class="top-bar-glyph center-block glyphicon glyphicon-user"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
            <h1> {% if contact.first_name %}{{ contact.first_name }}{% endif %}
                {% if contact.last_name %}{{ contact.last_name }}{% endif %}</h1>
            {% if contact.position %}
                <h1>
                    <small>{{ contact.position }}</small>
                </h1>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <hr class="col-md-10" />
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-earphone"></span>
            </div>
            <h4>Phone Number</h4>

            <p>
                {% if contact.phone %}
                    {{ contact.phone|join:",<br />" }}
                {% else %}
                    None
                {% endif %}
            </p>

            <span class="clearfix"></span>

            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-envelope"></span>
            </div>
            <h4>Email Address</h4>

            <p>{% if contact.email %}{{ contact.email }}{% else %}None{% endif %}</p>

            <span class="clearfix"></span>

            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-globe"></span>
            </div>
            <h4>Organization</h4>

            <p>
                {% if org_url %}
                    <a target="_blank" href="{{ org_url }}">{{ contact.organization.name }}</a>
                {% else %}
                    None
                {% endif %}
            </p>

            <span class="clearfix"></span>

            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-file"></span>
            </div>
            <h4>Publications</h4>
            {% if contact.publications %}
                {% for pub in contact.publications %}
                    <p>{{ pub.title }}</p>
                {% endfor %}
            {% else %}
                <p>None</p>
            {% endif %}
            <span class="clearfix"></span>
        </div>
    </div>
{% endblock %}