{% extends "global.html" %}

{% block imports %}
    <title>Edit {{ contact.name }}</title>
    <script type="text/javascript" src="static/scripts/edit_contact.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-wrapper center-block">
            <div class="page-header">
                <h1>
                    Edit {{ contact.name }}
                    <small>Update and save new contact information.</small>
                </h1>
            </div>

            {% if error %}
                <div class="alert alert-danger">
                    <p>{{ error }}</p>
                </div>
            {% endif %}

            {% if success %}
                <div class="alert alert-success">
                    <p>{{ error }}</p>
                </div>
            {% endif %}

            <form role="form" id="edit-contact-form" method="post" action="/edit-contact/">
                {{ csrf_token }}
                <input type="hidden" id="id_contact_id" value="{{ form.contact_id }}">

                <div class="form-group">
                    <label for="id_valid" class="control-label">Invalid?</label>
                    <input type="checkbox" id="id_valid" class="form-control" checked="{{ form.invalid }}">
                </div>

                {% if form.first_name.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="id_first_name" class="control-label">First name</label>
                    <input type="text" id="id_first_name" class="form-control" name="first_name" value="{{ form.first_name }}">

                    {% if form.first_name.errors %}
                        <span class="help-block">
                            {% for error in form.first_name.errors %}
                                {{ error|escape }}<br/>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                {% if form.last_name.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="id_last_name" class="control-label">Last name</label>
                    <input type="text" id="id_last_name" class="form-control" name="last_name" value="{{ form.last_name }}">

                    {% if form.last_name.errors %}
                        <span class="help-block">
                            {% for error in form.last_name.errors %}
                                {{ error|escape }}<br/>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                {% if form.phone.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="id_phone" class="control-label">Phone</label>
                    <input type="text" id="id_first_name" class="form-control" name="phone" value="{{ form.phone }}">

                    {% if form.phone.errors %}
                        <span class="help-block">
                            {% for error in form.phone.errors %}
                                {{ error|escape }}<br/>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                {% if form.email.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="id_email" class="control-label">Email</label>
                    <input type="text" id="id_email" class="form-control" name="email" value="{{ form.email }}">

                    {% if form.email.errors %}
                        <span class="help-block">
                            {% for error in form.email.errors %}
                                {{ error|escape }}<br/>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                {% if form.organization.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="id_organization" class="control-label">Organization</label>
                    <input type="text" id="id_organization" class="form-control" name="organization" value="{{ form.organization.name }}">

                    {% if form.organization.errors %}
                        <span class="help-block">
                            {% for error in form.organization.errors %}
                                {{ error|escape }}<br/>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                {% if form.position.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="id_position" class="control-label">Position</label>
                    <input type="text" id="id_position" class="form-control" name="organization" value="{{ form.position }}">

                    {% if form.position.errors %}
                        <span class="help-block">
                            {% for error in form.position.errors %}
                                {{ error|escape }}<br/>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}