{% extends "global.html" %}

{% block imports %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-wrapper center-block">
            {% if error %}
                <div class="alert alert-error">
                    <p>
                        {{ error }}
                    </p>
                </div>
            {% endif %}

            {% if success %}
                <div class="alert alert-success">
                    <p>
                        {{ success }}
                    </p>
                </div>
            {% endif %}

            <form id="edit-organization-form" role="form" method="post" action="/edit-organization/{{ org_id }}/">
                {% csrf_token %}

                {% if form.name.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="id-name" class="control-label">Name</label>
                    <input type="text" id="id-name" name="name" class="form-control" value="{{ form.name.value }}">
                    {% if form.name.errors %}
                        <span class="help-block">
                            {% for error in form.name.errors %}
                            {{ error|escape }}<br/>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                {% for email in form.emails %}
                    {% if email.errors %}
                        <div class="form-group has-error">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                        <label for="{{ email.id }}" class="control-label">{{ email.label }}</label>
                        <input type="email" id="{{ email.id }}" class="form-control" value="{{ email.value }}">
                        {% if email.errors %}
                            <span class="help-block">
                                {% for error in email.errors %}
                                {{ error|escape }}<br/>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                {% endfor %}

                {% if form.address.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="id-address" class="control-label">Address</label>
                    <input type="text" id="id-address" name="address" class="form-control"
                           value="{{ form.address.value }}">
                    {% if form.address.errors %}
                        <span class="help-block">
                            {% for error in form.address.errors %}
                            {{ error|escape }}<br/>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}