<!DOCTYPE html>
<html>
<head>
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="/static/lib/bootstrap/less/swatchmaker.less"/>
    {% endcompress %}
    <link href="/static/css/global.css" rel="stylesheet"/>
    {% block imports %}
    {% endblock %}
</head>

<body>
<div id="header">{% include "navbar.html" %}</div>

{% block content %}
{% endblock %}

<div id="footer">
    <div id="footer-text" class="text-muted credit">
        &copy 2013 UNL Human Trafficking Research
    </div>
</div>
</body>

</html>