{% extends "global.html" %}

{% block imports %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="static/lib/jquery.easyModal.js"></script>    
    <script type="text/javascript" src="static/lib/jquery.tmpl.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{key}}&sensor=false"></script>
    <link href="static/css/index.css" rel="stylesheet">
    <script src="static/scripts/index.js" type="text/javascript"></script>
    {% include "org_modal.html" %}
    {% include "org_bs_modal.html" %}
{% endblock %}
    

{% block content %}
    <div id="wrapper">
        <div id="login-signup-div" class="jumbotron">

            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    {% csrf_token %}
                    <input type="text" id="search-box" class="search-query" placeholder="Search...">
                </div>
            </form>
            <div id="search-ajax-loader" class="ajax-loader hidden"></div>
        </div>

        <div id="search-results-div" class="jumbotron" style="display: none">

            <h2 id="organization-list-header">Organizations</h2>
            <div id="organization-results">

        		<ul id="organization-search-list" style="list-style-type: none;">
					<!--<li>
						<a class="org_link" href="#">Save the Children</a>
					</li>
					<li>Bombay Teen Challenge</li>-->
				</ul>
            </div>

            <h2 id="contact-list-header">People</h2>
            <div id="contact-results">
        		<ul id="contact-search-list" style="list-style-type: none;">
					<!--<li>John Marth</li>
					<li>Mike Jones</li>-->
				</ul>
            </div>

            <h2 id="publication-list-header">Publications</h2>
        	<div id="publication-results">
        		<ul id="publication-search-list" style="list-style-type: none;">
					<!--<li>Stop Human Trafficking</li>-->
				</ul>
        	</div>
        </div>

        <div class="modal fade" id="bs-modal" tabindex="-1"></div>

        <div id="signup-div" class="jumbotron" style="display: none">
        	<h1 id="create-an-account">Create an Account</h1>
        	<input id="username-field" type="text" class="form-control" placeholder="Username" autofocus="">
        	<input id="email-field" type="text" class="form-control" placeholder="Email address" autofocus="">
        	<input id="password-field" type="password" class="form-control" placeholder="Password">
        	<button id="create-account-btn" class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
        	<button id="modal-cancel" type="button" class="btn btn-xs btn-link">Cancel</button>
        </div>

        <div id="login-div" class="jumbotron" style="display: none">
        	<h1 id="login-header">Existing Account</h1>
        	<input id="email-field" type="text" class="form-control" placeholder="Email address" autofocus="">
        	<input id="password-field" type="password" class="form-control" placeholder="Password">
        	<button id="create-account-btn" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        	<button id="modal-cancel" type="button" class="btn btn-xs btn-link">Cancel</button>
        </div>

        <div id="map-canvas"/>
    </div>
{% endblock %}
