<script id="map-legend" type="text/x-jquery-html">
    <div id="legend">
        <div class="key prevention">
            <div class="pin"></div>
            <span class="label">Prevention</span>
        </div>
        <div class="key prosecution">
            <div class="pin"></div>
            <span class="label">Prosecution</span>
        </div>
        <div class="key protection">
            <div class="pin"></div>
            <span class="label">Protection</span>
        </div>
    </div>
</script>