{% block content %}
    <script id="news-template" type="text/x-jquery-tmpl">
        <div class="article">
            <div class="article-title"><a href="${link}" target="_blank">${title}</a></div>
            <div class="article-author">${author}</div>
            <div class="article-date">${publishedDate}</div>
            <div class="article-content-snippet">${contentSnippet}</div>
            <div class="article-content">{% templatetag openbrace %}{% templatetag openbrace %}html content{% templatetag closebrace %}{% templatetag closebrace %}</div>
        </div>
    </script>
    <div class="news-ctrls">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info">
                <input type="radio" name="news-scope" value="general" />
                <i class="glyphicon glyphicon-globe"></i> General
            </label>
            <label class="btn btn-info active">
                <input type="radio" name="news-scope" value="regional" checked />
                <i class="glyphicon glyphicon-screenshot"></i> Regional
            </label>
        </div>
    </div>
    <div id="news-results"></div>
{% endblock %}
