<script id="modal-template" type="text/x-jquery-html">
    <div id="content">
    <div id="siteNotice">
    </div>
    <h3 id="firstHeading" class="firstHeading"">${name}</h3>
    <div id="bodyContent">
        <img id ="type-image" src="${img_path}" class="col-md-3">
        <table class="table-condensed">
            <tr>
                <td>Tel:</td>
                <td>${phone_numbers}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>${emails}</td>
            </tr>
            <tr>
                <td id="addr-cell">Address:</td>
                <td>${address}</td>
            </tr>
        </table>
        <a id="moreInfo" href="/organization/${id}" >More Info</a>
    </div>
</div>
</script>