{% if organizations.count > 0 %}
    {% for organization in organizations %}
        <tr id="org-{{ organization.id }}" data-id="{{ organization.id }}" class="org-rank-row">
            <td class="org-rank-index"></td>  {# org_rank.js will fill this field for us #}
            <td class="org-rank-name">{{ organization.name }}</td>
            <td class="org-rank-address">{{ organization.address }}</td>
            <td class="org-rank-phones">{{ organization.phone_numbers|join:", " }}</td>
            <td class="org-rank-emails">{{ organization.emails|join:", " }}</td>
            <td class="org-rank-url">
                {% if organization.organization_url and organization.organization_url.strip %}
                    <a target="_blank" href="{{ organization.organization_url }}">Site</a>
                {% endif %}
            </td>
            <td class="org-rank-facebook">
                {% if organization.facebook and organization.facebook.strip %}
                    <a target="_blank" href="{{ organization.facebook }}">FB</a>
                {% endif %}
            </td>
            <td class="org-rank-twitter">
                {% if organization.twitter and organization.twitter.strip %}
                    <a target="_blank" href="{{ organization.twitter }}">TW</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}