<script id="modal-template" type="text/x-jquery-html">
    <div id="content">
    <div id="siteNotice">
    </div>
    <h3 id="firstHeading" class="firstHeading">${name}</h3>
    <div id="bodyContent">
        <div id="img-div"><img id ="type-image" src="${img_path}" height="146" width="124"></div>
        <table class="table-condensed">
            <tr class="modal-row">
                <td>Tel:</td>
                <td>
                    {% templatetag openvariable %}each phone_numbers{% templatetag closevariable %}
                    ${$value}</br>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                </td>
            </tr>
            <tr class="modal-row">
                <td>Email:</td>
                <td>
                    {% templatetag openvariable %}each emails{% templatetag closevariable %}
                    ${$value}</br>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                </td>
            </tr>
            <tr class="modal-row">
                <td>Address:</td>
                <td>${address}</td>
            </tr>
        </table>
        <a id="more-info" href="/organization/${id}" >More Info</a>
    </div>
</div>
</script>