<script id="modal-template" type="text/x-jquery-html">
    <div id="content">
    <div id="siteNotice">
    </div>
    <h3 id="firstHeading" class="firstHeading" style="padding:5px">${org_name}</h3>
    <div id="bodyContent">
        <img src="${img_path}" class="col-md-3" style="margin-right: 5px;">
        <table class="table-condensed">
            <tr>
                <td>Tel:</td>
                <td>${phone_num}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>${org_email}</td>
            </tr>
            <tr>
                <td style="vertical-align:top">Address:</td>
                <td>${addr}</td>
            </tr>
        </table>
        <a id="moreInfo" href="#" style="float:right">More Info</a>
    </div>
</div>
</script>