{% extends "global.html" %}

{% block imports %}
    <title>Organization - {{ organization.name }}</title>
    <link href="/static/css/profile.css" rel="stylesheet"/>
    <link href="/static/css/organization_profile.css" rel="stylesheet"/>
    <link href="/static/lib/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="/static/lib/d3/d3.js" type="text/javascript"></script>
    <script src="/static/lib/d3/d3.layout.cloud.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="top-bar">
        <div class="top-bar-panel center-block">
            <h5 class="top-bar-text"><strong>ORGANIZATION</strong></h5>
            <span class="top-bar-glyph center-block glyphicon glyphicon-globe"></span>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
            <h1>{{ organization.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <hr class="col-md-10"/>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-5 col-md-5 col-sm-5">
            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-link"></span>
            </div>
            <h4>Website</h4>

            <p>
                {% if organization.organization_url %}
                    <a target="_blank" href="{% if not scheme %}//{% endif %}{{ organization.organization_url }}">
                        {{ organization.organization_url }}
                    </a>
                {% else %}
                    None
                {% endif %}</p>

            <span class="clearfix"></span>

            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-road"></span>
            </div>
            <h4>Address</h4>

            <p>
                {% if organization.address %}
                    {{ organization.address }}
                {% else %}
                    None
                {% endif %}
            </p>
            <span class="clearfix"></span>

            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-earphone"></span>
            </div>
            <h4>Phone Numbers</h4>

            <p>
                {% if organization.phone_numbers %}
                    {{ organization.phone_numbers|join:",<br />" }}
                {% else %}
                    None
                {% endif %}
            </p>
            <span class="clearfix"></span>

            <div class="pull-left panel info-glyph info-glyph-fa-center">
                <span class="center-block fa fa-facebook"></span>
            </div>
            <h4>Facebook</h4>

            <p>{% if organization.facebook %}
                <a target="_blank" href="{{ organization.facebook }}">
                    {{ organization.facebook }}</a>
            {% else %}
                None
            {% endif %}</p>
            <span class="clearfix"></span>

            <div class="pull-left panel info-glyph info-glyph-fa-center">
                <span class="center-block fa fa-twitter"></span>
            </div>
            <h4>Twitter</h4>

            <p>
                {% if organization.twitter %}
                    <a target="_blank" href="{{ organization.twitter }}">
                        {{ organization.twitter }}</a>
                {% else %}
                    None
                {% endif %}</p>
            <span class="clearfix"></span>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-user"></span>
            </div>
            <h4>People</h4>
            {% for contact in organization.contacts %}
                <p><a href="/contact/{{ contact.id }}">{{ contact.first_name }} {{ contact.last_name }}</a></p>
            {% endfor %}
            <span class="clearfix"></span>

            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-globe"></span>
            </div>
            <h4>Partners</h4>

            {% for partner in organization.partners %}
                <p><a href="/organization/{{ partner.id }}">{{ partner.name }}</a></p>
            {% endfor %}

            <span class="clearfix"></span>

            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-tag"></span>
            </div>
            <h4>Types</h4>
            {% if types %}
                <p>{{ types|join:", " }}</p>
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-lg-2"></div>

        <div id="word-cloud" class="center-block well container col-lg-8">
            <h1>Keywords</h1>
            <!--Must be loaded here -->
            <script src="/static/scripts/word-cloud.js" type="text/javascript"></script>
            <h3 id="no-keywords">Unavailable</h3>
        </div>
    </div>
{% endblock %}