{% extends "global.html" %}

{% block imports%}
    <link href="/static/css/organization_profile.css" rel="stylesheet">
{%  endblock %}

{% block content %}
    <div id="wrapper">
        <div class="row" style="padding-top: 5px;">
            <center><h1>{{organization.name}}</h1></center>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
             <hr class="col-md-10"></hr>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div id="info-wrap" class="well col-lg-8">
                <div class="col-xs-4">
                    <h2>Information</h2>
                    <p>Address: {{organization.address}}</p>
                    <p>Phone Numbers: {% for num in organization.phone_numbers %}
                                    {{ num }}</br>
                                {% endfor %}
                    </p>
                    <p>Facebook: <a href="{{organization.facebook}}">
                        {{organization.facebook}}</a></p>
                    <p>Twitter: <a href="{{organization.twitter}}">
                        {{organization.twitter}}
                    </a>
                    </p>
                </div>
                <div class="col-xs-4">
                    <h2>People</h2>
                    {% for contact in organization.contacts %}
                        <p><a href="#CONTACT_URL_HERE">{{contact.first_name}} {{contact.last_name}}</a></p>
                    {% endfor %}
                </div>
                <div class="col-xs-4">
                    <h2>Partners</h2>
                    {% for partner in organization.partners %}
                        <p><a href="#PARTNER_ORGANIZATION_URL_HERE">{{partner.name}}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-3 sidebar-offcanvas" id="sidebar" style="display: none;">
          <div class="well sidebar-nav">
            <div class="container">
                <center><h4>Personal Experience</h4></center>
                <input id="experience-input" placeholder="Share your experience here."/>
                <button id="experience-submit-btn" type="button" class="btn btn-xs btn-primary">Submit</button>
            </div>
          </div><!--/.well -->
        </div>
    </div>
{% endblock %}