{% extends "global.html" %}

{% block imports%}
    <title>Organization - {{organization.name}}</title>
    <link href="/static/css/organization_profile.css" rel="stylesheet">
{%  endblock %}

{% block content %}
    <div id="wrapper">
        <div class="row" style="padding-top: 5px;">
            <center><h1>{{organization.name}}</h1></center>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
             <hr class="col-md-10"></hr>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div id="info-wrap" class="container well col-lg-8">
                <div class="col-xs-4">
                    <h2>Information</h2>
                    <p>Website: {% if organization.organization_url %}
                    <a target="_blank" href="{% if not scheme %}//{% endif %}{{organization.organization_url}}">
                        {{organization.organization_url}}
                    </a>
                    {% else %}
                    None
                    {% endif %}
                    </p>

                    <p>Address: {{organization.address}}</p>
                    <p>Phone Numbers: 
                        {{ organization.phone_numbers|join:", " }}
                    </p>

                    <p>Facebook: {% if organization.facebook %}
                    <a target="_blank" href="{{organization.facebook}}">
                        {{organization.facebook}}</a>
                    {% else %}
                        None
                    {% endif %}</p>
                    <p>Twitter: {% if organization.twitter %}
                    <a target="_blank" href="{{organization.twitter}}">
                        {{organization.twitter}}</a>
                    {% else %}
                        None
                    {% endif %}</p>
                </div>
                <div class="col-xs-4">
                    <h2>People</h2>
                    {% for contact in organization.contacts %}
                        <p><a href="#CONTACT_URL_HERE">{{contact.first_name}} {{contact.last_name}}</a></p>
                    {% endfor %}
                </div>
                <div class="col-xs-4">
                    <h2>Partners</h2>
                    {% for partner in organization.partners %}
                        <p><a href="#PARTNER_ORGANIZATION_URL_HERE">{{partner.name}}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <center class="sidebar-offcanvas well sidebar-nav" id="sidebar">
                <div class="container">
                    <center><h4>Personal Experience</h4></center>
                    <input id="experience-input" placeholder="Share your experience here."></input>
                    <button id="experience-submit-btn" type="button" class="btn btn-xs btn-primary" onclick="javascript:alert('This feature hasn\'t been implemented yet!')">Submit</button>
              </div>
            </center>
        </div>

    </div>
{% endblock %}