<script id="publication-modal-template" type="text/x-jquery-html">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-header">
            ${ title }
            <button class="btn btn-default close" data-dismiss="modal">&#x2716;</button>
        </h4>
      </div>
      <div class="modal-body" id="modal-body">
          <table class="table table-condensed">
              {% templatetag openvariable %}if authors{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Authors:</th>
                  <td>${authors}</td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
              {% templatetag openvariable %}if publisher{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Publisher:</th>
                  <td>${publisher}</td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
              {% templatetag openvariable %}if publication_date{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Publication Year:</th>
                  <td>${publication_date}</td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
              {% templatetag openvariable %}if content_url{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Link:</th>
                  <td><a target="_blank" href="${content_url}">${content_url}</a></td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
          </table>
      </div>
    </div>
  </div>

</script>