<script id="publication-modal-template" type="text/x-jquery-html">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-header">
            ${ title }
            <div class="pull-left panel info-glyph">
                <span class="center-block glyphicon glyphicon-ok"></span>
            </div>
            <button class="btn btn-default close" data-dismiss="modal">&#x2716;</button>
        </h4>
      </div>
      <div class="modal-body" id="modal-body">
          <table class="table table-condensed">
              {% templatetag openvariable %}if authors{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Authors:</th>
                  <td>
                    {% templatetag openvariable %}each authors{% templatetag closevariable %}
                        ${$value}</br>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                  </td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
              {% templatetag openvariable %}if publisher{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Publisher:</th>
                  <td>${publisher}</td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
              {% templatetag openvariable %}if publication_date{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Publication Date:</th>
                  <td>${publication_date}</td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
              {% templatetag openvariable %}if url{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Link:</th>
                  <td>${content_url}</td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
          </table>
      </div>
    </div>
  </div>

</script>