<!DOCTYPE html>
<html>
    <head>
		<script src="/static/lib/jquery-2.0.3.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="/static/lib/underscore-min.js"></script>
	    <script src="/static/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	   	<link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <link href="/static/css/global.css" rel="stylesheet">
	    <link href="/static/css/welcome.css" rel="stylesheet">
    </head>

    <body>
    	<img id="wrapper" src="/static/images/welcome_blur.jpg" alt="Welcome!">

    	<center class="well lead">
    		<h1>
    			Welcome to the Anti-Trafficking Knowledge Management System
    		</h1>

    		<p>Our goal is to create a website that indexes up-to-date anti-human trafficking information, which users can see and search for in an intuitive and efficient way, ultimately allowing them to determine how they can help.</p>

    		<button type="button" class="btn btn-lg btn-primary">Go!</button>

    	</center>

    	<div id="footer">
            <center id="footer-text" class="text-muted credit">
                UNL Human Trafficking Research, 2013
            </center>
        </div>
        <script type="text/javascript" src="/static/scripts/welcome.js"></script>
    </body>
</html>