<div id="welcome-1" class="well welcome" style="display: none">
	<center><h2>Welcome to UNL Human Trafficking Research!</h2></center>
	<center><p>Using this website you can view the vast efforts against human trafficking!</p></center>
	<center><p>This is a quick tutorial that will show you the ropes and have you comfortably navigating the site in no time!</p></center>
	<center><button type="button" class="welcome-close-1 btn btn-primary">Next</button></center>
</div>

<div id="welcome-2" class="well welcome" style="display: none">
	<center><p>This bar at the top is the navigation bar. Each of its links will take you to a different part of the website.</p></center>
	<center><button id="next-2" type="button" class="welcome-close-2 btn btn-primary">Next</button></center>
</div>

<div id="welcome-3" class="row well welcome" style="display: none">
	<center><p>This map is the "main page" of this website. The map is completely interactive. You can click and drag to move the map and double click or use your scroll wheel to zoom.</p></center>
	<center><button type="button" class="welcome-close-3 btn btn-primary">Next</button></center>
</div>

<div id="welcome-4" class="row well welcome" style="display: none">
	<center><p>To the left is the search box. Type in a query and the results will slide in underneath it.</p></center>
	<center><button type="button" class="welcome-close-4 btn btn-primary">Next</button></center>
</div>