<div id="welcome-1" class="well" style="display: none">
	<center><h2>Welcome to UNL Human Trafficking Research!</h2></center>
	<center><p>Using this website you can view the vast efforts against human trafficking!</p></center>
	<center><p>This is a quick tutorial that will show you the ropes and have you comfortably navigating the site in no time!</p></center>
	<center><button type="button" class="welcome-close-1 btn btn-primary">Next</button></center>
</div>

<div id="welcome-2" class="well" style="display: none">
	<center><p>This bar at the top is the navigation bar. Each of its links will take you to a different part of the website.</p></center>
	<center><button id="next-2" type="button" class="welcome-close-2 btn btn-primary">Next</button></center>
</div>

<div id="welcome-3" class="row well col-md-5" style="display: none">
	<div class="row">
		<img class="col-sm-2" src="/static/images/arrow_up.png" width="64" height="64" alt="arrow_up.png">
		<img class="col-sm-2" src="/static/images/arrow_up.png" width="64" height="64" alt="arrow_up.png">
		<img class="col-sm-2" src="/static/images/arrow_up.png" width="64" height="64" alt="arrow_up.png">
		<img class="col-sm-2" src="/static/images/arrow_up.png" width="64" height="64" alt="arrow_up.png">
		<img class="col-sm-2" src="/static/images/arrow_up.png" width="64" height="64" alt="arrow_up.png">
		<img class="col-sm-2" src="/static/images/arrow_up.png" width="64" height="64" alt="arrow_up.png">
	</div>
	<div class="row">
		<center><p>This map is the "main page" of this website. The map is completely interactive. You can click and drag to move the map and double click or use your scroll wheel to zoom.</p></center>
	</div>
	<div class="row">
		<center><button type="button" class="welcome-close-3 btn btn-primary">Next</button></center>
	</div>	
</div>

<div id="welcome-4" class="well col-md-5" style="display: none">
	<div class="row">
		<div class="col-sm-1">
			<img src="/static/images/arrow_left.png" width="64" height="64" alt="arrow_left.png">
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<p>To the left is the search box. Type in a query and the results will slide in underneath it. Clicking on a search result will show its information on the map.</p>
		</div>
	</div>
	<div class="row">
		<center>
			<button type="button" class="welcome-close-4 btn btn-primary">Next</button>
		</center>
	</div>
</div>

<div id="welcome-5" class="row well welcome" style="display: none">
	<center><h2>All Done!</h2></center>
	<center><p>That pretty much covers the main points!</p> <p>If you're confused about anything, click on "Get Started" in the navigation bar.</p> <p>We hope you enjoy using the website!</p></center>
	<center><button type="button" class="welcome-close-5 btn btn-primary">Got it!</button></center>
</div>