@import "variables.less";
@import "navbar.less";

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrapper {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: -71px auto -60px;
    /* Pad bottom by footer height */
    padding: 71px 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    margin-top: -60px;
    height: 60px;
    background-color: #eeeeee;
}

#footer-text {
    position: relative;
    top: 40%;
    text-align: center;
}

/* Forms
----------------------------------------------------- */
.form-wrapper {
    max-width: 600px;
    padding-bottom: 3em;
}
