@import "variables.less";
@import "navbar.less";

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrapper {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -68px;
    /* Pad bottom by footer height */
    padding: 0 0 68px;
}

/* Set the fixed height of the footer here */
#footer {
    margin-top: -68px;
    height: 68px;
    padding: 4px;
    background-color: #eeeeee;
}

#footer-text {
    position: relative;
    text-align: center;
}

#footer-text p {
    margin: 0;
}

/* Forms
----------------------------------------------------- */
.form-wrapper {
    max-width: 600px;
    padding-bottom: 3em;
}
