#statistics .object-counter h1,
#statistics .object-counter h2 {
  text-align: center;
}
#statistics .statistics-panel {
  padding: 25px;
}
#statistics .statistics-panel:nth-child(odd) {
  background: #fff;
  color: #cd0000;
}
#statistics .statistics-panel:nth-child(odd) text {
  color: #cd0000;
}
#statistics .statistics-panel:nth-child(even) {
  background: #cd0000;
  color: #fff;
}
#statistics .statistics-panel:nth-child(even) text {
  color: #fff;
}
#statistics .statistics-panel:last-child h1 {
  margin-bottom: 25px;
}
#statistics .statistics-panel .info1 {
  font-weight: bold;
  text-transform: capitalize;
}
#statistics .statistics-panel .info1,
#statistics .statistics-panel .info2 {
  height: 16px;
}
#statistics .statistics-panel svg span {
  font-size: 60px;
  padding-top: 3px;
  z-index: 10;
}
