# Ignore PyCharm files
.idea/

# Ignore common Python and Django files
*.log
*.pot
*.pyc
local_settings.py

# Ignore old Visual Studio files
*.v11.suo
*.v12.suo
obj/

# Ignore config files
*.cfg

# Ignore the logging directory
logs/

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Webcrawler crap
HTResearch/env/
*_scraper_output.txt
