{% block content %}
    <script id="news-template" type="text/x-jquery-tmpl">
        {% verbatim %}
        <div class="carousel-caption {{if image}}with-image{{/if}} {{if source}}with-source{{/if}}">
            {{if image}}
                <a href="${link}" target="_blank">
                    <img src="${image}" />
                </a>
            {{/if}}
            <h3 class="article-title">
                <a href="${link}" target="_blank">${title}</a>
            </h3>
            <div class="article-author">${author}</div>
            {{if source}}<div class="article-source">${source}</div>{{/if}}
            <div class="article-content-snippet">${contentSnippet}</div>
            <div class="article-date">${date}</div>
        </div>
        {% endverbatim %}
    </script>
    <div class="news-header">
        <a class="btn btn-regional" rel="tooltip" data-placement="left" data-toggle="button" data-container="body"
           title="Show Regional News">
            <i class="glyphicon glyphicon-map-marker"></i>
            <h2>News</h2> for <span id="news-context">India</span>
        </a>
    </div>
    <div id="news-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" id="news-results"></div>
        <a class="right carousel-control" href="#news-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <a class="left carousel-control" href="#news-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <ol class="carousel-indicators"></ol>
    </div>
{% endblock %}
