<script id="bs-org-modal-template" type="text/x-jquery-html">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-header">
            <a href="/organization/${id}">
                <h3 class="modal-title">${name}</h3>
            </a>
            <button class="btn btn-default close" data-dismiss="modal">&#x2716;</button>
        </h4>
      </div>
      <div class="modal-body" id="modal-body">
          <p>
          {% templatetag openvariable %}if valid{% templatetag closevariable %}
              <span id="valid" class="pull-left glyphicon glyphicon-ok"></span>&nbsp;Verified
          {% templatetag openvariable %}else{% templatetag closevariable %}
              <span id="invalid" class="pull-left glyphicon glyphicon-remove"></span>&nbsp;Not Verified
          {% templatetag openvariable %}/if{% templatetag closevariable %}
          </p>
          <table class="table table-condensed">
              {% templatetag openvariable %}if phone_numbers.length{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Tel:</th>
                  <td>
                    {% templatetag openvariable %}each phone_numbers{% templatetag closevariable %}
                    ${$value}</br>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                  </td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
    {% templatetag openvariable %}if emails.length{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Email:</th>
                  <td>
                    {% templatetag openvariable %}each emails{% templatetag closevariable %}
                    ${$value}</br>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                  </td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
    {% templatetag openvariable %}if address{% templatetag closevariable %}
              <tr class="modal-row">
                  <th>Address:</th>
                  <td>${address}</td>
              </tr>
              {% templatetag openvariable %}/if{% templatetag closevariable %}
          </table>
      </div>
    </div>
  </div>

</script>