<script id="modal-template" type="text/x-jquery-html">
<div style="padding: 0px;">
    <div id="map-modal" class="modal-dialog">
        <div class="modal-header">
            <h3 class="modal-title">${name}</h3>
        </div>
        <div class="modal-body">
            <img id="org-building-icon" src="${img_path}" height="128" width="128" class="img-thumbnail pull-left">
            <table class="table table-condensed" style="width:auto;">
                {% templatetag openvariable %}if phone_numbers.length{% templatetag closevariable %}
                <tr class="modal-row">
                    <th>Tel:</th>
                    <td>
                        {% templatetag openvariable %}each phone_numbers{% templatetag closevariable %}
                        ${$value}</br>
                        {% templatetag openvariable %}/each{% templatetag closevariable %}
                    </td>
                </tr>
                {% templatetag openvariable %}/if{% templatetag closevariable %}
                {% templatetag openvariable %}if emails.length{% templatetag closevariable %}
                <tr class="modal-row">
                    <th>Email:</th>
                    <td>
                        {% templatetag openvariable %}each emails{% templatetag closevariable %}
                        ${$value}</br>
                        {% templatetag openvariable %}/each{% templatetag closevariable %}
                    </td>
                </tr>
                {% templatetag openvariable %}/if{% templatetag closevariable %}
                <tr class="modal-row">
                    <th>Address:</th>
                    <td>${address}</td>
                </tr>
            </table>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <a href="/organization/${id}" class="btn btn-primary pull-right" role="button" >More Info</a>
            <a id="edit-org-btn" href="/edit-organization/${id}" class="btn btn-primary pull-right">Edit/Flag</a>
        </div>
    </div>
</div>


</script>