{% extends "shared/global.html" %}

{% block imports %}
    <title>Organization - {{ organization.name }}</title>
    <link href="/static/css/organization/organization-profile.css" rel="stylesheet">
    <script type="application/javascript" src="/static/scripts/organization/organization.js"></script>
{% endblock %}

{% block content %}
    <div class="profile-header org-header">
        <div class="header-content">
            <h1>
            {{ organization.name }}
            </h1>
            {% if organization.address %}
            <h3>
                {{ organization.address }}
            </h3>
            {% endif %}
        </div>
    </div>
{% endblock %}