{% extends "shared/global.html" %}

{% block imports %}
    <title>{{ organization.name }}</title>
    <link href="/static/css/organization/organization-profile.css" rel="stylesheet">
    <script type="application/javascript" src="/static/scripts/organization/organization.js"></script>
{% endblock %}

{% block content %}
    <div class="profile-header org-header">
        <div class="header-content">
            <div class="container">
                <h1>
                {{ organization.name }} {% if can_edit %}<a id="edit-btn" data-toggle="tooltip" title="Edit"
                                                            href="/edit-organization/{{ organization.id }}">
                    <span class="fa fa-pencil-square"></span>
                    </a>{% endif %}
                </h1>
                {% if types %}
                <h3>
                    {{ types|join:", " }}
                </h3>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="profile-content">
            <div class="page-header">
                <h1>Social</h1>
            </div>
            <div class="row profile-row">
                <div class="col-lg-4 col-md-6 col-xs-12 profile-data">
                    <div class="row data-row">
                        <div class="col-xs-4">
                            <span class="profile-icon fa fa-fw fa-globe fa-5x"></span>
                        </div>
                        <div class="col-xs-8">
                            <h4>Website</h4>
                            {% if organization.organization_url %}
                            <a target="_blank" href="{% if not scheme %}//{% endif %}{{ organization.organization_url }}">{{ organization.organization_url }}</a>
                            {% else %}
                            None Available
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 profile-data">
                    <div class="row data-row">
                        <div class="col-xs-4">
                            <span class="profile-icon fa fa-fw fa-facebook-square fa-5x"></span>
                        </div>
                        <div class="col-xs-8">
                            <h4>Facebook</h4>
                            {% if facebook %}
                            <a target="_blank" href="{{ organization.facebook }}">{{ facebook }}</a>
                            {% else %}
                            None Available
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 profile-data">
                    <div class="row data-row">
                        <div class="col-xs-4">
                            <span class="profile-icon fa fa-fw fa-twitter-square fa-5x"></span>
                        </div>
                        <div class="col-xs-8">
                            <h4>Twitter</h4>
                            {% if twitter %}
                            <a target="_blank" href="{{ organization.twitter }}">{{ twitter }}</a>
                            {% else %}
                            None Available
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-header">
                <h1>Contact</h1>
            </div>
            <div class="row profile-row">
                <div class="col-lg-4 col-md-6 col-xs-12 profile-data">
                    <div class="row data-row">
                        <div class="col-xs-4">
                            <span class="profile-icon fa fa-fw fa-envelope fa-5x"></span>
                        </div>
                        <div class="col-xs-8">
                            <h4>Email</h4>
                            {% if organization.email_key %}
                            <a target="_blank" href="mailto:{{ organization.email_key }}">{{ organization.email_key }}</a>
                            {% else %}
                            None Available
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 profile-data">
                    <div class="row data-row">
                        <div class="col-xs-4">
                            <span class="profile-icon fa fa-fw fa-phone fa-5x"></span>
                        </div>
                        <div class="col-xs-8">
                            <h4>Phone</h4>
                            {% if organization.phone_numbers %}
                            {{ organization.phone_numbers|first }}
                            {% else %}
                            None Available
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 profile-data">
                    <div class="row data-row">
                        <div class="col-xs-4">
                            <span class="profile-icon fa fa-fw fa-map-marker fa-5x"></span>
                        </div>
                        <div class="col-xs-8">
                            <h4>Address</h4>
                            {% if organization.address %}
                            {{ organization.address }}
                            {% else %}
                            None Available
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-header">
                <h1>Related Pages</h1>
            </div>
            <div class="row profile-row">
                <div class="col-lg-4 col-md-6 col-xs-12 profile-data">
                    <div class="row data-row">
                        <div class="col-xs-4">
                            <span class="profile-icon fa fa-fw fa-users fa-5x"></span>
                        </div>
                        <div class="col-xs-8">
                            <h4>Members</h4>
                            {% if organization.contacts %}
                            {% for contact in organization.contacts %}
                            <a href="/contact/{{ contact.id }}">{{ contact.first_name }} {{ contact.last_name }}</a><br/>
                            {% endfor %}
                            {% endif %}
                            {% if organization.user_contacts %}
                            {% for user in organization.user_contacts %}
                            <a href="/contact/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a><br/>
                            {% endfor %}
                            {% endif %}
                            {% if not organization.contacts and not organization.user_contacts %}
                            None Available
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 profile-data">
                    <div class="row data-row">
                        <div class="col-xs-4">
                            <span class="profile-icon fa fa-fw fa-building-o fa-5x"></span>
                        </div>
                        <div class="col-xs-8">
                            <h4>Partners</h4>
                            {% if organization.partners %}
                            {% for partner in organization.partners %}
                            <a href="/organization/{{ partner.id }}">{{ partner.name }}</a><br/>
                            {% endfor %}
                            {% else %}
                            None Available
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}