{% extends "shared/global.html" %}

{% block imports %}
    <script src="/static/scripts/organization/request-organization.js" type="application/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-wrapper center-block">
            <div class="page-header">
                <h1>
                    Request Organization
                </h1>
            </div>

            {% if success %}
                <div class="alert alert-success">
                    <p>{{ success }}</p>
                </div>
            {% endif %}

            {% if error %}
                <div class="alert alert-danger">
                    <p>{{ error }}</p>
                </div>
            {% endif %}

            <form id="request-org-form" role="form" method="post" action="/request-organization/">
                {% csrf_token %}

                {% if form.url.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                        <label
                                for="id_url" class="control-label">Organization URL
                            <span id="help-text" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" data-title="What's this?">

                            </span>
                        </label>
                        <input type="url" id="id_url" class="form-control" name="url" placeholder="http://example.com">
                        {% if form.url.errors %}
                            <span class="help-block">
                                {% for error in form.url.errors %}
                                    {{ error|escape }}<br/>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}