.object-counter h1,
.object-counter h2 {
  text-align: center;
}
.dashboard-panel {
  padding-top: 25px;
  padding-bottom: 25px;
}
.dashboard-panel:nth-child(odd) {
  background: #fff;
  color: #00a67c;
}
.dashboard-panel:nth-child(odd) text {
  color: #00a67c;
}
.dashboard-panel:nth-child(even) {
  background: #00a67c;
  color: #fff;
}
.dashboard-panel:nth-child(even) text {
  color: #fff;
}
