<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.webServer>

    <handlers>

	  <clear />

      <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python27\python.exe|C:\HTRES-DT-JOB1\HTResearch\WebClient\manage.py winfcgi --pythonpath=C:\HTRES-DT-JOB1\HTResearch\WebClient" resourceType="Unspecified" requireAccess="Script" />

<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>

  </system.webServer>
    <location path="static">
    </location>

</configuration>

