<script src="/static/scripts/dashboard/org-pie.js"></script>
<div class="jumbotron">
    <div class="row text-center">
        <h1>Organization Breakdown</h1>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div id="orgs-by-region"></div>
            <h2>Region</h2>
        </div>
        <div class="col-md-4 text-center">
            <div id="orgs-by-type"></div>
            <h2>Type</h2>
        </div>
        <div class="col-md-4 text-center">
            <div id="orgs-by-members"></div>
            <h2>Members</h2>
        </div>
    </div>
</div>
