<div class="dashboard-widget object-counter">
    <div class="row">
        <div class="col-md-4">
            <h1>
                <span class="fa fa-building-o"></span>
                <span id="org-count"></span>
            </h1>
            <h2>Organizations</h2>
        </div>
        <div class="col-md-4">
            <h1>
                <span class="fa fa-female"></span>
                <span id="contact-count"></span>
            </h1>
            <h2>People</h2>
        </div>
        <div class="col-md-4">
            <h1>
                <span class="fa fa-book"></span>
                <span id="pub-count"></span>
            </h1>
            <h2>Publications</h2>
        </div>
    </div>
</div>
