<script type="application/javascript" src="/static/scripts/dashboard/counter.js"></script>

<div class="dashboard-widget object-counter">
    <div class="row">
        <div class="col-md-4">
            <h1>
                <i class="fa fa-building-o"></i>
                <span id="org-count"></span>
            </h1>
            <h2>Organizations</h2>
        </div>
        <div class="col-md-4">
            <h1>
                <i class="fa fa-female"></i>
                <span id="contact-count"></span>
            </h1>
            <h2>People</h2>
        </div>
        <div class="col-md-4">
            <h1>
                <i class="fa fa-book"></i>
                <span id="pub-count"></span>
            </h1>
            <h2>Publications</h2>
        </div>
    </div>
</div>
