{% extends "shared/global.html" %}

{% block imports %}
    <title>Human Trafficking Research</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link href="/static/css/dashboard/dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="dashboard" class="container">
    <div class="dashboard-panel main-area span12">
        {% include "dashboard/counter.html" %}
    </div>
    <hr />
    <div class="dashboard-panel main-area span12">
        {% include "dashboard/breakdown.html" %}
    </div>
    <hr />
    <div class="dashboard-panel main-area span12">
        <!-- organization partnership graph -->
    </div>
</div>
{% endblock %}
