{% extends "shared/global.html" %}

{% block imports %}
    <title>Anti-Trafficking Atlas - Dashboard</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link href="/static/css/dashboard/dashboard.css" rel="stylesheet">
    <link href="/static/css/user/signup.css" rel="stylesheet">
    <script src="/static/scripts/dashboard/dashboard.js" type="application/javascript"></script>
{% endblock %}

{% block content %}
<div id="dashboard">
    <div class="dashboard-panel main-area span12">
        <div class="container">
            {% include "dashboard/counter.html" %}
        </div>
    </div>
    <div class="dashboard-panel main-area span12">
        <div class="container">
            {% include "dashboard/breakdown.html" %}
        </div>
    </div>
    <div class="dashboard-panel main-area span12">
        <div class="container">
            {% include "dashboard/partner-map.html" %}
        </div>
    </div>
</div>
{% endblock %}
