.modal-row {
  vertical-align: top;
}
#map-modal {
  padding: 0px;
  margin: 0px;
}
#modal-body {
  padding-top: 4px;
}
#org-building-icon {
  margin: 0px;
}
.prevention > .label {
  background-color: #4ECDC4;
}
.protection > .label {
  background-color: #FF6B6B;
}
.prosecution > .label {
  background-color: #C7F464;
}
.key .label {
  color: black;
  display: inline-block;
  min-width: 100%;
  width: auto;
  margin: 5px;
}
.key {
  background-repeat: no-repeat;
  padding: 0 50px 0 0;
  height: 32px;
  min-width: 150px;
  width: auto;
  font-size: large;
  background: no-repeat right center;
  border: 50px;
}
.key.prevention {
  background-image: url("/static/images/prevention_pin_small.png");
}
.key.prosecution {
  background-image: url("/static/images/prosecution_pin_small.png");
}
.key.protection {
  background-image: url("/static/images/protection_pin_small.png");
}
.news-panel {
  position: absolute;
  bottom: 14px;
  width: 100%;
  height: 236px;
  z-index: 10;
}
.news-panel .btn-regional {
  font-size: 24px;
  color: #fff;
  padding: 0;
  height: 36px;
  background: transparent;
  box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-panel .btn-regional:not(.active) i {
  color: #888;
}
.news-panel .btn-regional:not(.active):hover i {
  color: #8aa;
}
.news-panel .btn-regional.active i {
  color: #ff9e00;
}
.news-panel .news-header {
  white-space: nowrap;
  height: 36px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  text-shadow: 0 0 6px #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-panel .news-header h2 {
  display: inline;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
#news-carousel {
  background: transparent;
}
#news-carousel .carousel-inner {
  height: 200px;
  background: #00a67c;
  border: #000000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#news-carousel .item {
  height: 100%;
}
#news-carousel .carousel-indicators {
  top: 5%;
  height: 20px;
}
#news-carousel .carousel-indicators li {
  margin: 3px;
}
#news-carousel .carousel-indicators li.active {
  margin: 2px;
}
#news-carousel .carousel-indicators li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#news-carousel .carousel-caption {
  position: static;
  height: 100%;
}
#news-carousel .carousel-caption img {
  left: 14%;
  bottom: 9%;
  position: absolute;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#news-carousel .carousel-caption .article-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 6%;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#news-carousel .carousel-caption.with-source .article-title {
  height: 40px;
}
#news-carousel .carousel-caption .article-source {
  position: absolute;
  bottom: 3%;
  right: 12%;
  font-size: 12px;
  font-weight: 100;
  height: 16px;
  overflow: hidden;
  color: #aaa;
}
#news-carousel .article-title a {
  color: #fff;
  display: block;
}
#news-carousel .article-date {
  font-size: 12px;
  display: block;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 5%;
  right: 5%;
  top: 40%;
  height: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#news-carousel .carousel-caption .article-content-snippet {
  display: inline-block;
  position: absolute;
  left: 14%;
  right: 14%;
  bottom: 10%;
  height: 7.0em;
  font-size: 12px;
  overflow: hidden;
  text-align: justify;
}
#news-carousel .carousel-caption.with-image .article-content-snippet {
  left: calc(14% + 88px);
}
#news-carousel .article-content {
  display: none;
}
#search-results-div {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 1px;
  height: calc(100% - 55px);
  line-height: 1.5em;
  border-radius: 5px;
}
#search-results-div-scroll {
  overflow-y: scroll;
  height: 100%;
}
#search-results-div h2 a {
  display: inline-block;
  width: 100%;
}
#search-results-div .count {
  margin: 0;
  font-size: smaller;
  color: #999999;
  display: inline-block;
}
#search-results-div .panel-heading {
  line-height: 2;
  width: 100%;
}
/* Position attribute set when jquery.slinky.js changes the position to absolute
   We have to change the width from 100% to this so that the scrollbar doesn't
   get covered.
*/
#search-results-div .panel-heading[style~="position:"] {
  width: 95%;
}
#search-box {
  line-height: 2;
  float: left;
  width: calc(100% - 54px);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
}
.search-results-panel {
  width: 100%;
}
.search-results-panel h2,
#search-box {
  font-size: x-large;
}
.search-results-panel ul {
  font-size: small;
  list-style: outside none;
  padding-left: 0;
}
.search-results-panel li {
  padding: 2px 0 2px 10px;
  font-weight: 800;
}
.search-results-panel li a {
  text-decoration: none;
}
.search-results-panel li.active {
  color: #fff;
  background-color: #00a67c;
}
.search-results-panel li.active a {
  color: #fff;
}
#search-settings-btn {
  width: 54px;
  height: 54px;
}
#search-settings-dropdown {
  float: right;
  padding: 0px 10px 10px;
  font-size: large;
}
#custom-search-form .search-query {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}
#custom-search-form {
  pointer-events: auto;
}
#search-settings-btn {
  width: 54px;
  height: 54px;
}
.search-div {
  position: absolute;
  right: 0;
  width: 25%;
  min-width: 22em;
  height: 100%;
  overflow: hidden;
}
#search-box-div {
  pointer-events: none;
  width: 100%;
  height: calc(100% - 250px);
  background-color: transparent;
  border-right: 2px solid transparent;
  padding: 10px 10px 0 10px;
  position: relative;
  z-index: 1;
}
#search-box-div .panel-heading {
  line-height: 1.1;
}
#search-ajax-loader {
  position: absolute;
  height: 51px;
  right: 74px;
  top: 10px;
  z-index: 10;
}
.ajax-loader {
  background: url(../../images/ajax-loader.gif) center no-repeat;
  width: 16px;
  height: 16px;
}
/* This is the class for choosing what to show in the search */
.checkbox {
  cursor: pointer;
  font-weight: 200;
  padding-left: 0 !important;
}
#search-results-div .collapse-icon {
  opacity: .6;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
noscript {
  top: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -2em;
  font-size: xx-large;
}
#edit-org-btn,
#edit-contact-btn {
  margin-right: 10px;
}
#map-container {
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 1px;
  padding: 0;
  position: relative;
}
#map-canvas {
  display: block;
  width: auto;
  height: inherit;
  position: fixed;
}
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: table;
  margin-top: -51px;
  padding-top: 51px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  height: 42px;
}
#wrapper .row {
  height: 100%;
  display: table-row;
}
#wrapper .col-md-1,
#wrapper .col-md-2,
#wrapper .col-md-3,
#wrapper .col-md-4,
#wrapper .col-md-5,
#wrapper .col-md-6,
#wrapper .col-md-7,
#wrapper .col-md-8,
#wrapper .col-md-9,
#wrapper .col-md-10,
#wrapper .col-md-11,
#wrapper .col-md-12 {
  height: 100%;
  display: table-cell;
  padding-left: 0;
  padding-right: 0;
}
input:focus {
  opacity: 50.0;
}
/*Navbar override*/
.navbar {
  margin-bottom: 0px;
}
ul {
  list-style-position: inside;
}
.publication-link {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
#footer {
  display: none;
}
