#search-results-div {
    overflow-y: auto;
    width: 100%;
    margin-top: 1px;
    height: calc(100% - 55px);
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    line-height: 1.5em;
    border-radius: 5px;
}

#search-results-div h2 a {
    display: inline-block;
    width: 100%;
}

#search-results-div .count {
    margin: 0;
    font-size: smaller;
    color: #999999;
    display: inline-block;
}

#search-results-div li{
    margin-bottom: 4px;
}

#search-results-div .panel-heading {
    line-height: 2;
}

#search-box-div:hover #search-results-div {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.search-query:focus {
    opacity: 1.0 !important;
}

#search-box {
    line-height: 2;
    float: left;
    width: calc(100% - 54px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
}

.search-results-panel h2,
#search-box{
    font-size: x-large;
}

.search-results-panel ul {
    font-size: small;
    list-style-position: outside;
}

#search-settings-btn {
    width: 54px;
    height: 54px;
}

#search-settings-dropdown {
    float: right;
    padding: 0px 10px 10px;
    font-size: large;
}

#custom-search-form .search-query {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

#search-settings-btn {
    width: 54px;
    height: 54px;
}

.search-div {
    position: absolute;
    right: 0;
    width: 25%;
    min-width: 22em;
    height: 100%;
    overflow: hidden;
}

#search-box-div {
    width: 100%;
    height: calc(100% - 250px);
    background-color: transparent;
    border-right: 2px solid transparent;
    padding: 10px 10px 0 10px;
    position: relative;
    z-index: 1;
}

#search-box-div .panel-heading {
    line-height: 1.1;
}

#search-ajax-loader {
    position: absolute;
    height: 51px;
    right: 74px;
    top: 10px;
    z-index: 10;
}

.ajax-loader {
    background: url(../../images/ajax-loader.gif) center no-repeat;
    width: 16px;
    height: 16px;
}

/* This is the class for choosing what to show in the search */
.checkbox {
    cursor: pointer;
    font-weight: 200;
    padding-left: 0 !important;
}

#search-results-div .collapse-icon {
    opacity: .6;
}
