.navbar {
  margin-bottom: 0px;
}
.profile-header {
  width: 100%;
  height: 300px;
  color: white;
}
.header-content {
  padding-top: 85px;
  text-shadow: 0.1em 0.1em 0.5em #000;
}
.header-content h1 {
  font-size: 400%;
}
.profile-icon {
  color: #cd0000;
}
.profile-content {
  margin-top: 75px;
}
.profile-data {
  margin-bottom: 50px;
}
.contact-header {
  background-image: url("/static/images/contact-profile-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
