.navbar {
  margin-bottom: 0px;
}
.profile-header {
  width: 100%;
  height: 300px;
  color: white;
}
.header-content {
  padding-top: 85px;
  padding-left: 50px;
  text-shadow: 0.1em 0.1em 0.5em #000;
}
.header-content > h1 {
  font-size: 400%;
}
.profile-icon {
  color: #00a67c;
}
.profile-content {
  margin-top: 75px;
}
.profile-data {
  margin-bottom: 50px;
}
.navbar {
  margin-bottom: 0px;
}
.org-header {
  background: url("/static/images/org-profile-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
