/*These styles are mainly to override subtle things in bootstrap and
default behaviors*/

a {
	color: #009999;
}

a:hover {
	color: #008888;
}

.btn-primary {
	color: #ffeeff;
	background-color: #009999;
	border-color: #008888;
}

.btn-primary:hover {
	color: #ddccdd;
	background-color: #008888;
	border-color: #007777;
}