/*These styles are mainly to override subtle things in bootstrap and
default behaviors*/

a {
	color: #005555;
}

a:hover {
	color: #004444;
}

.btn-primary {
	color: #bbaabb;
	background-color: #005555;
	border-color: #004444;
}

.btn-primary:hover {
	color: #887788;
	background-color: #004444;
	border-color: #003333;
}

.btn-primary.active:hover {
    color: #ffffff;
    background-color: #125691;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #eeeeee;
    display: none;
    visibility: hidden;
}

#footer-text {
	position: relative; 
  	top:40%; 
  	margin-top:-5e;
}