html { 
    height: 100%;
    overflow-y: hidden; 
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map-canvas {
    display: block;
    width: inherit;
    height: inherit;
}

#wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

#get-started-btn {
    position:absolute;
    top: 30px;
    z-index: 1;
    right: 180px;
    opacity: 0.85;
}

#laws-by-region-btn {
    position:absolute;
    top: 30px;
    z-index: 1;
    right: 15px;
    opacity: 0.85;
}

#login-signup-div {
    position:absolute;
    z-index: 1;
    top: 50px;
    left: 5px;
    width: 205px;
    height: 120px;
    opacity: 0.75;
    border: 0;
}

#login-signup-div:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

#login-btn {
    position:absolute;
    top: 5px;
    left: 10px;
}

#signup-btn {
    position:absolute;
    top: 5px;
    left: 100px;
}

#custom-search-form {
    position: absolute;
    height: 60%;
    width: 60%;
    top: 55px;
    left: 0px;
}

#custom-search-form .search-query {
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    left: 10px;
    width: 150%;
}

#custom-search-form button {
    border: 0;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    height: 20%;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}

#signup-div {
    position:absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
}

#login-div {
    position:absolute;
    z-index: 1;
    height: 300px;
    width: 400px;
}

#create-an-account {
    position: absolute;
    font-size: xx-large;
    left: 20%;
    top: 5%;
}

#login-header {
    position: absolute;
    font-size: xx-large;
    left: 25%;
    top: 3%;
}

#username-field {
    position: relative;
    top: 40px;
    margin-bottom: 10px;
}

#email-field {
    position: relative;
    top: 50px;
    margin-bottom: 10px;
}

#password-field {
    position: relative;
    top: 60px;
    margin-bottom: 10px;
}

#create-account-btn {
    position: relative;
    top: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#search-results-div {
    position: absolute;
    z-index: 1;
    top: 170px;
    left: 5px;
    width: 205px;
    height: 100%;
    opacity: 0.75;
    overflow: auto;
}

#search-results-div:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

#organization-list-header {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: x-large;
}

#organization-search-list {
    position: absolute;
    left: 5px;
    top: 50px;
    padding-bottom: 5px;
    font-size: small;
}

#contact-list-header {
    position: absolute;
    top: 175px;
    left: 0px;
    font-size: x-large;
}

#contact-search-list {
    position: absolute;
    left: 5px;
    top: 225px;
    font-size: small;
}

#publication-list-header {
    position: absolute;
    top: 350px;
    left: 0px;
    font-size: x-large;
}

#publication-search-list {
    position: absolute;
    left: 5px;
    top: 400px;
    font-size: small;
}

#modal-cancel {
    position: absolute;
    margin-top: 5px;
    bottom: 1px;
    left: 165px;
}

#type-image {
    margin-right: 5px;
}

#firstHeading {
    padding: 5px;
}

#addre-cell{
    vertical-align: top;
}

#moreInfo {
    float: right;
}