html { height: 100% }

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map-canvas {
    display: block;
    width: inherit;
    height: inherit;
}

#wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

#get-started-btn {
    position:absolute;
    top: 30px;
    z-index: 1;
    right: 180px;
    opacity: 0.85;
}

#laws-by-region-btn {
    position:absolute;
    top: 30px;
    z-index: 1;
    right: 15px;
    opacity: 0.85;
}

#login-signup-div {
    position:absolute;
    z-index: 1;
    top: 50px;
    left: 5px;
    width: 15%;
    height: 15%;
    opacity: 0.75;
    border: 0;
}

#login-signup-div:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

#login-btn {
    position:absolute;
    top: 5px;
    left: 10px;
}

#signup-btn {
    position:absolute;
    top: 5px;
    left: 100px;
}

#custom-search-form {
    position: absolute;
    height: 60%;
    width: 60%;
    top: 55px;
    left: 0px;
}

#custom-search-form .search-query {
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    left: 10px;
    width: 150%;
}

#custom-search-form button {
    border: 0;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    height: 20%;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}

#signup-div {
    position:absolute;
    z-index: 1;
    height: 45%;
    width: 30%;
}

#login-div {
    position:absolute;
    z-index: 1;
    height: 45%;
    width: 30%;
}

#create-an-account {
    position: absolute;
    font-size: xx-large;
    left: 20%;
    top: 5%;
}

#login-header {
    position: absolute;
    font-size: xx-large;
    left: 25%;
    top: 3%;
}

#username-field {
    position: relative;
    top: 40px;
    margin-bottom: 10px;
}

#email-field {
    position: relative;
    top: 50px;
    margin-bottom: 10px;
}

#password-field {
    position: relative;
    top: 60px;
    margin-bottom: 10px;
}

#create-account-btn {
    position: relative;
    top: 50px;
    margin-top: 50px;
}
