.modal-row {
    vertical-align: top;
}

#map-modal {
    padding: 0px;
    margin: 0px;
}

#modal-body {
    padding-top: 4px;
}

#org-building-icon {
    margin: 0px;
}

/*#modal-cancel {*/
    /*position: absolute;*/
    /*margin-top: 5px;*/
    /*bottom: 1px;*/
    /*left: 165px;*/
/*}*/

/*#addr-cell {*/
    /*vertical-align: top;*/
/*}*/

/*#more-info-bs {*/
    /*position: absolute;*/
    /*bottom: 5px;*/
    /*right: 10px;*/
/*}*/