/*Color Palette
Main (Blueish): 005555;
Complement (Silvery): bbccbb;
Accent (Pale Yellowy): ffdd99;
Backup 1 (Turquoise kinda): 44bbbb;
Backup 2 (Pale Mint Green): 66aa88;
*/


/* navbar */
.navbar-default {
	background-color: #005555;
}

/* title */
.navbar-default .navbar-brand {
    color: white; 
}

/* link */
.navbar .nav > li > a {
    color:  white; 
}

.navbar-default .navbar-nav > li > a:hover {
    color: #111;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #004444; 
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #004444; 
}

/* caret */
.navbar-default .navbar-nav > li > a .caret {
    border-top-color: #004444; 
    border-bottom-color: #004444; 
}

.navbar-default .navbar-nav > li > a:hover .caret {
    border-top-color: #004444; 
    border-bottom-color: #004444; 
}

.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.dropdown-menu {
	background-color: #004444; 
}

.dropdown-menu > li > a {
	color: white;
}