body, html {
	overflow: hidden;
}

img {
	width: 100%;
	position: fixed;
}

center, div {
	z-index: 1;
	width: 50%;
	height: 50%;
	position: absolute;
	top:50%;
    left:50%;
    margin: -15% 0 0 -25%;
}

p {
	margin-top: 7%;
	position: relative;
	font-size: 1.5vw;
}

h1 {
	font-size: 3vw;
}

.btn {
	position: relative;
	margin-top: 5%;
}