{% extends "shared/global.html" %}

{% block imports %}
    <title>Contact - {{ first_name }}</title>
    <link href="/static/css/contact/contact-profile.css" rel="stylesheet"/>
    <script type="application/javascript" src="/static/scripts/contact/contact.js"></script>
{% endblock %}

{% block content %}
    <div class="profile-header contact-header">
        <div class="header-content">
            <h1>
            {{ first_name }} {{ last_name }}
            </h1>
            <h3>
                {{ position }}
            </h3>
        </div>
    </div>
{% endblock %}