<!DOCTYPE html>
<html>
<head>
    <title>404 Error!</title>
    <link rel="stylesheet" href="/static/css/lib/bootstrap/bootstrap.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link href="/static/css/shared/global.css" rel="stylesheet">
    <link href="/static/css/lib/font-awesome/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/shared/errors.css"/>
    <script type="application/javascript" src="/static/scripts/lib/require.js"></script>
    <script type="application/javascript" src="/static/scripts/requireconfig.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="content container">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">
                    <div class="header">
                        <h1>Sad panda! (404)</h1>
                        <p>Looks like the page you're looking for can't be found. Try hitting up one of these ones.</p>
                    </div>
                    <div class="guidance">
                        <div class="row">
                            <a href="/" alt="Go Home">
                                <div class="col-xs-4">
                                    <span class="fa fa-fw fa-4x fa-home"></span><br/>
                                    <h4>Go Home</h4>
                                </div>
                            </a>
                            <a href="/get-started/" alt="About">
                                <div class="col-xs-4">
                                    <span class="fa fa-fw fa-4x fa-users"></span><br/>
                                    <h4>Get Started</h4>
                                </div>
                            </a>
                            <a href="/statistics/" alt="Get Started">
                                <div class="col-xs-4">
                                    <span class="fa fa-fw fa-4x fa-bar-chart-o"></span><br/>
                                    <h4>Statistics</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <img src="/static/images/sad_panda.png"/>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer-text" class="text-muted credit">
            &copy 2014 Anti-Trafficking Atlas
        </div>
    </div>
</body>
</html>