{% extends "shared/global.html" %}

{% block imports %}
    <link href="/static/css/shared/about.css" rel="stylesheet">
    <script src="/static/scripts/shared/about.js" type="application/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container marketing">
        <div id="title-text" class="row">
            <h1>About</h1>
        </div>

        <hr class="divider">

        <div class="content-section">
            <h2 class="sub-heading">What Human Trafficking Is</h2>
            <p class="lead">
                Article 3, paragraph (a) of the Protocol to Prevent, Suppress and Punish Trafficking in Persons,
                especially Women and Children (also referred to as the Trafficking Protocol), defines human trafficking
                as:
            </p>
            <p class="lead">
                (a) [...] the recruitment, transportation, transfer, harbouring or receipt of persons, by means of
                threat or use of force or other forms of coercion, of abduction, of fraud, of deception, of the abuse of
                power or of a position of vulnerability or of the giving or receiving of payments or benefits to achieve
                the consent of a person having control over another person, for the purpose of exploitation.
                Exploitation shall include, at a minimum, the exploitation of the prostitution of others or other forms
                of sexual exploitation, forced labour or services, slavery or practices similar to slavery, servitude or
                the removal of organs;
            </p>
            <p class="lead">
                The definition contained is meant to provide consistency and consensus around the world on the
                phenomenon of trafficking in persons. The Trafficking Protocol was adopted by the United Nations in
                Palermo in 2000 and entered into force on 25 December 2003, and as of March 2013 has been signed by 117
                countries and ratified by 154 parties.
            </p>
        </div>


        <div class="content-section">
            <h2 class="sub-heading">Who We Are</h2>
            <p class="lead">
                This project was initiated by Dr. Rochelle Dalla, Professor in the Department of Child, Youth, and
                Family Studies at the University of Nebraska-Lincoln (USA). Dr. Dalla’s research focuses on women
                trafficked into the commercial sex industry (in both the U.S. and, most recently, India);  she is also
                the Founder and Editor-in-Chief of Journal of Human Trafficking, an international journal devoted to the
                dissemination of scholarship on all issues related to trafficking in persons—from prevention and
                intervention, to protection, prosecution, and partnership (see www.tandfonlin.com/uhmt). This project
                was envisioned by Dr. Dalla as a tool to help researchers, service providers, policy analysts and others
                be more effective and efficient in anti-trafficking efforts; it was brought to life by a team of
                computer science students at the Jeffrey S. Raikes School of Computer Science and Management.
            </p>
        </div>

        <div class="content-section">
            <h2 class="sub-heading">What We Do</h2>
            <p class="lead">
                Instead of relying on organizations, workers in the field, and researchers to supply relevant human
                trafficking information, our software uses web scraping and crawling algorithms to collect it
                automatically. This makes it easy and extremely fast to retrieve and update our data. We also allow
                those with “Contributor” accounts to edit, add, and flag information to fill any gaps our algorithms
                leave.
            </p>
        </div>

        <div class="content-section">
            <h2 class="sub-heading">Why We Do It</h2>
            <p class="lead">
                Through this technology and with increasingly accessible information online, we can search through all
                the opportunities the web has to offer so you don’t have to. Connect with other advocates, researchers,
                and volunteers and find a place to help in the right field and area of the globe for you.
            </p>
        </div>

    </div>
{% endblock %}