<div id="footer">
    <div id="footer-text" class="text-muted credit">
        &copy 2014 Anti-Trafficking AtlasPhotos by <a target="_blank"
                     xmlns:cc="http://creativecommons.org/ns#"
                     href="http://www.flickr.com/photos/reallyboring/"
                     property="cc:attributionName" rel="cc:attributionURL">Eric Allix Rogers</a>, <a xmlns:cc="http://creativecommons.org/ns#"
             href="http://www.flickr.com/photos/29850501@N06/"
             property="cc:attributionName"
             rel="cc:attributionURL">Jelle Drok</a>, <a xmlns:cc="http://creativecommons.org/ns#"
                                                        href="http://www.flickr.com/photos/clara/"
                                                        property="cc:attributionName"
                                                        rel="cc:attributionURL">Clara & James Dunning</a> /
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.<br/>
        &copy 2014 Anti-Trafficking Atlas
    </div>
</div>