<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/lib/bootstrap/bootstrap.css">
    <link href="/static/css/shared/global.css" rel="stylesheet">
    <link href="/static/css/lib/font-awesome/font-awesome.css" rel="stylesheet">
    <script type="application/javascript" src="/static/scripts/lib/require.js"></script>
    <script type="application/javascript" src="/static/scripts/requireconfig.js"></script>
    {% block imports %}
    {% endblock %}
</head>

<body>
<div id="header">
    {% include "shared/navbar.html" %}
</div>

{% block content %}
{% endblock %}

<div id="footer">
    <center id="footer-text" class="text-muted credit">
        UNL Human Trafficking Research, 2013
    </center>
</div>
</body>

</html>