<!DOCTYPE html>
<html>
<head>
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="/static/lib/bootstrap/less/swatchmaker.less"/>
    {% endcompress %}
    <link href="/static/css/shared/global.css" rel="stylesheet"/>
    <link href="/static/lib/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <script type="application/javascript" src="/static/scripts/lib/require.js"></script>
    <script type="application/javascript" src="/static/scripts/requireconfig.js"></script>
    {% block imports %}
    {% endblock %}
</head>

<body>
<div id="header">
    {% include "shared/navbar.html" %}
</div>

{% block content %}
{% endblock %}

<div id="footer">
    <div id="footer-text" class="text-muted credit">
        &copy 2013 UNL Human Trafficking Research
    </div>
</div>
</body>

</html>