<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/lib/bootstrap/bootstrap.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link href="/static/css/shared/global.css" rel="stylesheet">
    <link href="/static/css/lib/font-awesome/font-awesome.css" rel="stylesheet">
    <script type="application/javascript" src="/static/scripts/lib/require.js"></script>
    <script type="application/javascript" src="/static/scripts/requireconfig.js"></script>
    {% block imports %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    {% include "shared/navbar.html" %}
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    <div id="footer-text" class="text-muted credit">
        &copy 2014 Anti-Trafficking Atlas
    </div>
</div>
</body>

</html>