<!DOCTYPE html>
<html>
<head>
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="/static/lib/bootstrap/less/swatchmaker.less"/>
    {% endcompress %}
    <link href="/static/css/shared/welcome.css" rel="stylesheet">
    <script type="application/javascript" src="/static/scripts/lib/require.js"></script>
    <script type="application/javascript" src="/static/scripts/requireconfig.js"></script>
</head>

<body>
<img id="wrapper" src="/static/images/welcome_blur.jpg" alt="Welcome!">

<div class="container table">
    <div class="jumbotron">
        <h2>
            Welcome to the Anti-Trafficking Knowledge Management System
        </h2>

        <p>Our goal is to create a website that indexes up-to-date anti-human trafficking information, which users can
            see and search for in an intuitive and efficient way, ultimately allowing them to determine how they can
            help.</p>

        <button type="button" class="btn btn-lg btn-primary">Continue</button>
    </div>
</div>

<script type="text/javascript" src="/static/scripts/shared/welcome.js"></script>
</body>
</html>