#title-text {
  text-align: center;
}
#title-text h1 {
  font-size: 400%;
}
.sub-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
@media (min-width: 768px) {
  .sub-heading {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .sub-heading {
    margin-top: 40px;
  }
}
