#complete-tutorial-btn {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
#title-text {
  text-align: center;
}
#title-text h1 {
  font-size: 400%;
}
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}
.featurette-divider-first {
  margin-bottom: 80px;
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
@media (min-width: 768px) {
  .featurette-heading {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
