.navbar-nav > li:hover,
.navbar-nav > li.active {
  border-bottom: 5px solid #fff;
  height: 50px;
}
.navbar-nav > li.dropdown:hover,
.navbar-nav > li.dropdown:active {
  border: 0;
}
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrapper {
  min-height: 100%;
  height: auto;
}
/* Set the fixed height of the footer here */
#footer {
  margin-top: -60px;
  height: 60px;
  background-color: #eeeeee;
}
#footer-text {
  position: relative;
  top: 40%;
  text-align: center;
}
/* Forms
----------------------------------------------------- */
.form-wrapper {
  max-width: 600px;
  padding-bottom: 3em;
}
