body {
  width: 100%;
  background: url("/static/images/welcome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#wrapper {
  height: 900px;
  color: white;
  text-shadow: 0.1em 0.1em 0.5em #000;
}
#wrapper h1 {
  font-size: 400%;
}
#wrapper p {
  margin-top: 50px;
  font-size: 250%;
}
.content {
  position: relative;
  top: 45%;
}
a {
  color: #999999;
}
a:hover,
a:focus {
  color: #cccccc;
  text-decoration: none;
}
